* {
    padding: 0;
    margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #f1f3de;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*header*/

header {
  height: 90px;     
  z-index:10;
  width:100%;  
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  line-height: 50px;
}
header .container .menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.header-logo {
  float: left;
  font-size: 26px;
  width: 50%;
  padding: 20px 40px;    
  color: #fff;    
}

.header-logo span {
  font-size: 30px;
  color: #ff4a4a;
  font-weight: bolder;
}

.header-right{
  float: right;
  display: inline;    
  margin-right: 20px;
}

.header-right a {
  font-size: 18px;    
  color: white;
  line-height: 20px;
  float: right;
  padding: 35px;  
  text-decoration: none;  
  transition: all 0.5s;
}

.header-right a:hover {
  font-weight: bold;
  background-color: #ff4a4a; 
}

.top-content {
  float: left;
  width: 100%;
  height: 600px;
  background: url("Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom:100px;
  clear:both;
}

.top-content .container {
  margin-top: 100px; 
  margin-left: 40px;
  text-align: left;
  display: inline-block;      
  color: white;
}

.top-content .container h2{
  width: 40%;
  margin-top:100px;
  float:left;
}

.icon {    
  float: right;
  width: 40%;
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 80px;
  margin-right: 30px;
  position: relative;  
}

.icon-image {
  height: 100%;
  width: 100%;
  margin:auto;
}

/*Main*/

.main-content {    
  height: 500px;
  margin-bottom: 80px;
  text-align: center;    
  margin-bottom:150px;
  clear:both;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lessons {
    width: 90%;
    margin:auto;
}

.wrapper-lesson {  
  display: inline-grid;
  width: 20%;
  margin-right: 25px;
  margin-left: 25px;  
}
  
.lesson {        
  width: 100%;                
}

.lesson:hover {
  box-shadow: none;    
}

.lesson p {
  margin-top: 10px;
  text-align: justify;
}

.lesson span {
}

.icons{    
  height: 100%;
  width: 100%;;
  border-radius:10px;
}

.des-content {
  opacity: 1.0;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border: #000 1px solid;
  border-radius: 9px;
  box-shadow:#333 0px 10px;
}

.des-content:hover{
  position: relative;
  bottom: 10px;
}

.bot-content{
  width: 100%;
  text-align: center;
  height: 500px;
  margin-bottom: 100px;
}

.bot-content .heading{
  color: #000;
}

.bot-content .container{
  width: 80%;
  margin:auto;
  color:#000;
}
.circles .wrapper{ 
  width: 30%;
  display: inline-block;
  margin: 30px 70px;
  height: 400px
}

.circle{
  background-color: #fff;
  height: 200px;
  width:  200px;
  border-radius: 100%;      
  margin:auto;    
  border: 2px solid #fff;
}

.circles .wrapper .name-group{
  margin-top:10px;
  height: 70px;
  font-size: 20px
}

.bot-content .button{
  background-color: #036635;
  padding:10px 20px;
  margin: 10px auto;
  border-radius: 7px;
  box-shadow: 0px 5px #aaa;
  opacity: 1;
  width: 100px;
  color: #f5f0e5;
  cursor:pointer;
}

.button:active{
  box-shadow: none;
  top:5px;
  position: relative;  
}

/* footer */
footer{
  height: 130px;
  padding: 30px;
  background-color: #f5f7ee;
}
.footer-logo {
  float: left;
  font-size: 20px;
  width: 20%
}

.footer-logo span {
  font-size: 20px;
  color: #ff4a4a;
  font-weight: bolder;
}

.footer-list {  
  float: right;
  display : flex;
  flex-direction :row;
}

.footer-list .list{  
  margin: 0px 50px 10px 50px;
}

.footer-list li{
  margin-bottom:20px;
  margin-top:20px;
}

.footer-list h4 {
  font-size: 16px;
}
